{% extends "blog/base.html" %}
{% block content %}
<div class="container">

</div>
<div class="jumbotron">
<h2>About me</h2>
<p>Thanks for visiting my blog! Check all this cool stuff about me!</p>
  <p>
    My name is Jason Lee, and at present, I am learning in Nanjing University.
  </p>
  <p>
    I am fond of computer science, and to build a great website is one of my dreams
  </p>
  <p>
    I hope that you can enjoy your moment here, besides, you can get access to Github and LinkedIn freely.
  </p>
</div>
</div>
{% endblock %}
